/*According to the video lecturer, e generally use an id for only one element
whereas, a class can be used for multiple elements in a html document


**) hover: pseudo selector which can be used to add special functionality when the mouse is placed on top of it 
**) font-family: used to change the font style
**) color: used to change font colour
**) font-weight: used to change the boldity of a colour
**) background-color: adds colour
**) background-image: property can be used to add image as the background
**) url() function can be used to add a url for any css property
**) rgba() function can be used to add opacity to the colors used
**) linear-gradient() function can be used to obtain inear gradient. THe first parameter is the direction of gradient, the second is the starting colour and the thir is the ending or the final colour
the first parameter can also be an angle which is specified as <integer>deg . It specifies the ending point of the gradient.
**) radial-gradient:  prperty can be used to apply radial gradient
**) height: <number>vh viewport height is the current device's viewport. Therefore it is pretty portable
**) width: <number>vw viewport width

units in css. 
----------------
They are used to represent distance units in css. Ex, px (pixels), % (percnetage)...etc
They are of two types: absolute and relative

absolute type dont allow rescaling when the size of the window is changed. They maintain their constant sizes.

relative type allow for changing the size according to the window size whne they are rescaled accordingly.
PIXELS(px): 

Although it is a absolute unit in syntax, it actually is a relative value because the pixels get scaled according to the resolutions of the devices taht we use.

POINTS(pt):

It is larger than a pixel. It is also an absolute value

PERCENTAGE(%):

It takes into account the % of the screen size

VIWEPORTHEIGHT, VIEWPORTWIDTH(vh,vw):

It sets the size according to the screen size of the device viewing the page. The value itself preceding the unit is the perentage of the viewport in consideration.

TEXT AND FONT MANIPULATION
---------------------------

 */

body{
	background:linear-gradient(135deg,rgb(255,0,0,100%),rgb(2,180,255,100%)); 
	background-repeat: no-repeat; 
	height: 100vh;


}
.bolder{
	font-family:ubuntu;
	font-weight:700;
	color:steelblue;
}
#colourer:hover{
	color: orange;
	font-weight: 500;
}

